<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Troydon-Resume</title>
    <script src="https://kit.fontawesome.com/199919a52c.js"></script>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>

    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <link rel="stylesheet" href="~/css/styles.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color:royalblue">Troydon-Resume</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @*<li> alternate link method
                            @Html.ActionLink("Home", "Index", "Home", null, new { title = "Go Home" }))
                            </li>*@
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Resume">Resume</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Feedback" asp-action="Index">Comments</a>
                        </li>
                        @*<li> alternate link method
                        <a class="nav-link text-light" href="@Url.Action("Index", "Feedback")" title="Commets page!">Comments</a>
                        </li>*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()

            @*disable lorem text by using the following in the view: @section lorem { }*@
            @if (IsSectionDefined("lorem"))
            {
                @RenderSection("lorem", false)
            }
            else
            {
                <aside id="secondary" class="float-right">
                    <div class="text-center .bg-secondary">

                        <vc:news-highlights />
                        @* Register View Component page *@
                        @await Component.InvokeAsync("NewsHighlights", new { maxPriority = 1, isDone = true });
                    </div>
                </aside>
                <div class="content-wrap">

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vestibulum, enim porta pulvinar sollicitudin, velit elit sodales turpis, ac tincidunt est leo in massa. Proin eu nisl vel nisi porttitor iaculis. Proin sed ornare eros, in consectetur neque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut tristique tellus eros, nec sollicitudin enim mattis vitae. Pellentesque dolor odio, hendrerit ac velit id, pulvinar ultricies odio. Aliquam quis nisi elit. Aenean molestie purus suscipit pulvinar accumsan. Aliquam tellus metus, elementum et blandit ac, varius a diam. Aliquam lorem nisi, commodo at vulputate eu, vulputate eget ligula. Etiam orci orci, venenatis eget sapien facilisis, faucibus rhoncus dolor. Mauris suscipit massa eget tellus mollis, ac molestie massa interdum. Quisque nec felis tristique, sagittis urna non, maximus nisi. Nulla facilisi. In orci justo, tempus lacinia dui pulvinar, aliquam finibus velit. Phasellus sit amet vestibulum justo. </p>

                    <p>Curabitur sed urna luctus, lobortis orci a, porta tortor. Morbi maximus ut quam nec bibendum. Curabitur maximus ipsum arcu. Nulla fermentum, tortor at suscipit consectetur, libero lectus congue eros, eget porttitor nulla odio in lorem. Vestibulum porttitor ut ante at bibendum. Donec vitae ante quis lectus dictum mollis at id ligula. Pellentesque et ligula nulla. Integer ac sodales orci. Praesent ac pulvinar lectus, nec convallis nulla. Maecenas urna lorem, imperdiet in leo sit amet, varius convallis metus. Mauris quis feugiat libero. Donec mi odio, laoreet nec aliquam sed, aliquam id diam. Nam scelerisque sodales felis ac elementum. Nullam et pulvinar leo, eu maximus diam. </p>
                </div>
            }


        </main>
    </div>

    <footer class="footer border-top text-muted text-center">
        
        <div class="content-wrap" id="contact">
            <h2>Let's Keep in Touch!</h2>

            <!-- Social media and contact links. Add or remove any networks. -->
            <div class="contact-info">
                <a href="mailto:tluicien@yahoo.co.nz">
                    <i class="fas fa-envelope-square" aria-hidden="true"></i><span class="sr-only">tluicien@yahoo.co.nz</span>
                </a>
                <a href="http://troydonfitness.com.au" target="_blank">
                    <i class="fas fa-dumbbell"
                       aria-hidden="true"></i><span class="sr-only">Troydon Fitness</span>
                </a>
                <a href="#" target="_blank">
                    <i class="fab fa-twitter-square" aria-hidden="true"></i><span class="sr-only">Twitter</span>
                </a>
                <a href="https://www.linkedin.com/in/troydon-luicien-6127a762/" target="_blank">
                    <i class="fab fa-linkedin" aria-hidden="true"></i><span class="sr-only">LinkedIn</span>
                </a>
                <a href="https://www.facebook.com/TroydonAnabolicish" target="_blank">
                    <i class="fab fa-facebook-square"
                       aria-hidden="true"></i><span class="sr-only">FaceBook</span>
                </a>

            </div>

            &copy; 2019 - Troydon-Resume - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>

        </div>
           
        
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
